// Login Form

.login-main{
    height: 100vh;
    background-image: url("../assets/img/login_bg.jpg");
    //photo credit Photo by Patrick Tomasso on Unsplash
    background-size: cover;
    .overlay-white{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 0.8;
        border-radius: 10px;
    }
    .login-form{
        border-radius: 10px;
        position: relative;
        padding:100px 50px;
        box-shadow: 0 0 50px 0px #000;
        .form-group{
            position: relative;
        }
    }
}

//Chatroom main

.chatroom-main{
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/img/login_bg.jpg");
    //photo credit Photo by Patrick Tomasso on Unsplash
    background-size: cover;
    position: relative;

    .overlay-white{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        opacity: 0.8;
        border-radius: 10px;
    }
    .online-users{
        position: absolute;
        top: 0;
        left: -100%;
        bottom: 0;
        min-width:300px;
        max-width: 720px;
        width:20%;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background-color: white;
        z-index: 10;
        box-shadow: 3px 0px 12px 0px;
        overflow-y: scroll;
        .online-users-header{
            padding: 10px 0px;
            position: relative;
            .back{
                position: absolute;
                display: flex;
                align-items: center;
                padding-left: 10px;
                top:0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            h3{
                color:white;
            }
        }
        .user-list{
            padding: 10px 5px;
            border-bottom: 1px solid blue;
            display: flex;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                box-shadow: 0px 2px 10px 0px black;
            }
            .avatar{
                color:white;
                font-weight: bold;
                font-size: 20px;
                padding: 10px;
                display: inline-block;
                min-width:50px;
                text-align: center;
                text-transform: uppercase;
            }
            h5{
                text-transform: capitalize;
            }
        }
    }
    .all-groups{
        position: absolute;
        top: 0;
        right: -100%;
        bottom: 0;
        min-width:300px;
        max-width: 720px;
        width:20%;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
        background-color: white;
        z-index: 10;
        box-shadow: 3px 0px 12px 0px;
        overflow-y: scroll;
        .all-groups-header{
            padding: 10px 0px;
            position: relative;
            .back{
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 10px;
                top:0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            h3{
                color:white;
            }
        }
        .room-list{
            padding: 10px 5px;
            border-bottom: 1px solid blue;
            display: flex;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                box-shadow: 0px 2px 10px 0px black;
            }
            .avatar{
                color:white;
                font-weight: bold;
                font-size: 20px;
                padding: 10px;
                display: inline-block;
                min-width:50px;
                text-align: center;
                text-transform: uppercase;
            }
            h5{
                text-transform: capitalize;
            }
        }
    }
    .chatroom-sub{
        display: flex;
        justify-content: space-between;
        h5{
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                box-shadow: 0px 0px 10px 0px #000;
            }
        }
    }
    .chat-box{
        box-shadow: 0 0 10px 0px #000;
        margin-top:50px;
        background-color: white;
        border-radius: 20px;
        padding: 20px 10px;
        // border:2px solid black;
        height: 60vh;
        overflow-y:scroll ;
        .body{
            box-shadow: 0 0 10px 0px #000;
            max-width: 450px;
            padding: 20px;
            border-radius: 10px;
            margin:10px;
        }
        .message-left{
            display: flex;
        }
        .message-right{
           display: flex;
           flex-direction: row-reverse;
        }
        .message-center{
            display: flex;
           justify-content: center;
           align-items: center;
            .body{
                max-width: 100%;
                width: 100%;
                border:1px solid black;
                box-shadow: none;
                padding: 5px;
                
                box-sizing: border-box;
                p{
                    text-align: center;
                    font-size: 12px;
                    margin:0;
                }
            }
        }
    }
    .msg-box{
        box-shadow: 0 0 10px 0px #000;
        border-radius: 20px;
        textarea{
            height: 10vh;
            border-radius: 20px;
            padding: 20px;
        }
        .input-group-append{
            border-radius: 20px;
            button{
                padding: 0px 50px;
                cursor: pointer;
                color:white;
                border-radius:0px 20px 20px 0px;
            }
        }
    }
}